    </div>
    <!--Link to script.js file-->
    <script src="/js/map_script.js"></script>
    <!--loads the Google Maps Javascript API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2LOT7eAgNLMQBZBZwG1zwgENF3Tt1ww&callback=initMap" async defer></script>
</body>
</html>