<!DOCTYPE html>
<html>
<head>
    <title>StudySpace</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <% include links %>
</head>
<body>
    <!--top section-->
    <div id ="header-wrapper">
        <h1><a href="/">StudySpace</a></h1>
    </div>
    <div id="main-wrapper">
        <!--leftside navbar-->
        <div id="navbar-wrapper">
            <ul class="nav">
                <% locations.forEach(function(place) { %>
                    <div class="item-wrapper">
                        <li class="nav-item">
                            <a class="nav-link" href="<%='/location?id='+place._id %>"><%= place.name %></a>
                        </li>
                    </div>
                <% }) %>
            </ul>
        </div>