#description {
  text-align: center;
  height: 15%;
  padding-top: 1%;
  background-color: lightskyblue;
}

#description h1 {
  font-size: 32pt;
}

#main-wrapper {
  background-color: beige;
  height: 85%;
}

#content-wrapper {
  width: 85%;
  height: 100%;
  float: left;
  padding-top: 5%;
}

#content-wrapper #map {
  margin: auto;
  border: solid black 3px;
  width: 65%;
  height: 60%;
}
      
#navbar-wrapper {
  width: 15%;
  height: 100%;
  background-color: grey;
  float:left;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}