<% include partials/header %>  
        <!--interactive map-->
        <div id="content-wrapper">
            <div class="home-content">
                <!--Put something here-->
            </div>
        </div>
<% include partials/footer %>
  