<% include partials/header %>  
        <!--interactive map-->
        <div id="content-wrapper">
            <div class="home-content">
                <!--Put something here-->
                <h3>Find somewhere to study on the UCLA campus!</h3>
            </div>
        </div>
<% include partials/footer %>
  