<% include partials/header %>  
        <!--interactive map-->
        <div id="content-wrapper">
            <div class="home-content">
                <!--Put something here-->
                <div id="intro-wrapper">
                    <h3>Explore the great study spots UCLA has to offer!</h3>
                </div>
                <div id="more-info">
                    <p>Click a location for more info</p>
                </div>
                <div id="home-slides-wrapper">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                        <% randNums.forEach(function(num) { %>
                            <div class="carousel-item <% if (randNums.indexOf(num) == 0) { %>active<% } %>">
                                <a href="<%='/location?id='+locations[num]._id %>">
                                    <img class="d-block w-100" 
                                     src="<% if (typeof locations[num].images !== "undefined") { %>
                                              <%= locations[num].images[0] %>
                                          <% } %>" 
                                     alt="Slide">
                                </a>
                                <div class="carousel-caption d-none d-md-block">
                                    <a href="<%='/location?id='+locations[num]._id %>"><h5><%= locations[num].name %></h5></a>
                                </div>
                            </div>
                        <% }) %>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div id="github-link">
                    <a href="https://github.com/danyulkoo/StudySpace" target="_blank">GitHub repository</a>
                </div>
            </div>
        </div>
<% include partials/footer %>
  