<% include partials/header %>  
        <!--interactive map-->
        <div id="content-wrapper">
            <div id="map"></div>
            <div id="location-content">
                <h1><%= name %></h1>
                <h4><strong>Hours:</strong> <%= hours %> </h4>
                <span>|</span>
                <% if (distance < 5) {%>
                    <span>On the Hill</span>
                <% } else { %>
                    <span>Approximate <strong><%= distance %>-minute</strong> walk from the Hill</span>
                <% } %>
                <p class="location-desc">
                    <%= description %>
                </p>
            </div>
            <div id="pics-wrapper">
                Pics go here
            </div>
        </div>
<% include partials/footer %>