<% include partials/header %>  
        <!--interactive map-->
        <div id="content-wrapper">
            <div id="map"></div>
            <div class="location-content">
                <h1><%= name %></h1>
                <p>Hours: <%= hours %> </p>
                <p>Approximately <%= distance %>-minute walk from the Hill</p>
            </div>
        </div>
<% include partials/footer %>