#header-wrapper {
  height: 17%;
  background-color: rgb(143, 177, 252);
  background-image: url("../images/ucla-royce.jpg");
  background-position: 50% 80%;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-bottom: solid black 1px;
  position: relative;
}

#header-wrapper h1 {
  position: absolute;
  bottom: 0;
  transition: 0.2s;
  font-weight: 200;
}

#header-wrapper a {
  font-family: 'Shanti';
  font-size: 42pt;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

#header-wrapper h1:hover {
  transform: scale(1.02);
}

#main-wrapper {
  background-color: rgb(245, 249, 255);
  height: 83%;
  overflow: hidden;
}

#content-wrapper {
  width: 83%;
  height: 100%;
  float: left;
  overflow: auto;
}

/* Home Page Styles */
.home-content {
  padding: 5%;
}

#intro-wrapper {
  text-align: center;
}

#intro-wrapper h3 {
  font-weight: 250;
}

#intro-slides-wrapper {
  margin: 3% auto 0;
  width: 70%;
  height: 60%;
  background-color: rgb(182, 182, 182);
}

/* Locations Page Styles */
#content-wrapper {
  padding: 1.5% 0 1.5% 2%;
  position: relative;
}

#location-content {
  height: 40%;
  border-bottom: solid grey 1px;
}

#pics-wrapper {
  margin: 5% auto 10%;
  width: 70%;
  height: 60%;
  background-color: rgb(182, 182, 182);
}

#map {
  border: solid black 2px;
  width: 30%;
  height: 90%;
  float: right;
  margin-right: 2%;
}
      
#content-wrapper .location-content {
  margin-left: 30px;
  margin-top: 30px;
}

#location-content h1 {
  margin-right: 5px;
  font-weight: 300;
}

#location-content h4 {
  display: inline;
  font-weight: 200;
  color: rgb(71, 70, 82); 
}

#location-content span {
  font-size: 16pt;
  font-weight: 200;
  margin-left: 5px;
}

.location-desc {
  margin-top: 10px;
  margin-right: 10px;
  color: rgb(71, 70, 82);
  width: 60%;
  font-size: 13pt;
}

.carousel {
  width: 100%;
  min-width: 400px;
  height: 420px;
  border: solid rgb(31, 31, 31) 1px;
  box-shadow: -11px 10px 30px -7px rgba(0, 0, 0, 0.9);
}

.carousel-inner img {
  width: 99.5%;
  min-width: 398px;
  height: 418px;
}

/* Navbar Styles */
#navbar-wrapper {
  width: 17%;
  height: 100%;
  background-color: rgb(233, 242, 255);
  float: left;
  border-right: solid black 1px; 
  overflow: auto;
  padding: 0;
}

#navbar-wrapper .item-wrapper {
  width: 100%;
  transition: .2s;
}

#navbar-wrapper .item-wrapper:hover {
  background-color: rgb(183, 208, 243);
  font-weight: 500;
}

#navbar-wrapper li {
  padding: 7px 0;
  width: 100%;
}

#navbar-wrapper a {
  color: rgb(5, 34, 180);
}

html, body {
  min-width: 1000px;
  height: 100%;
  margin: 0;
  padding: 0;
}